.pagination-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px; 
    box-sizing: border-box; 
    margin-bottom: 3rem;
}
/*.pagination-container {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px; 
    box-sizing: border-box; 
    margin-bottom: 3rem;
}

.pagination-container button,
.pagination-container span {
    margin: 0 3px;
    padding: 6px 10px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
    min-width: 36px;
    max-width: 45px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 4px;
    background-color: transparent;
    color: var(--pagination-color);
}

.pagination-container button.active {
    background-color: #e60000;
}

.pagination-container button:disabled {
    cursor: not-allowed;
    background-color: transparent;
    color: red;
}

.pagination-container button:disabled:hover {
    transform: none;
}

.pagination-container button:hover {
    transform: translateY(-2px);
}

.pagination-container span {
    padding: 4px 6px; 
    font-size: 14px;
    cursor: default;
    min-width: 24px; 
    display: inline-block;
    text-align: center;
    border-radius: 4px;
}

@media (max-width: 768px) {
    .pagination-container {
        padding: 0 10px; 
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .pagination-container button,
    .pagination-container span {
        margin: 0 2px;
        padding: 5px 8px;
        font-size: 12px;
        min-width: 32px; 
    }

    .pagination-container span {
        padding: 3px 5px; 
        min-width: 20px; 
    }

    .pagination-container button:hover {
        transform: translateY(-1px);
    }
}*/
