.pagination-container{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 0%;
    transition: height 0.5s ease-in-out;
    transition-property: height, padding;
    background-color: transparent;
    
}
.pagination-container.is-searching{
    position: relative;
    display: flex;
    height: 0%;
}
.pagination-container.is-loaded{
    height: 1.1rem;
    padding: 20px;
    background-color: transparent;
}
.pagination-container.no-results{
    height: 0%;
}
.pagination-container .pagination-content{
    padding: 20px;
    background-color: transparent;
    display: flex;
    align-items: center;
}
.pagination-container .arrow-button{
    background-color: transparent;
    border: none;
    color: white;
    transition: color 0.3s ease;
}

.pagination-container .arrow-button:disabled{
    color: var(--input-disabled);
    padding: 0 0.1rem;
}

.pagination-container .arrow-button:not(:disabled){
    color: var(--input-focus);
    padding: 0 0.1rem;
}

.pagination-container .pagination-content .page-number{
    color: white;
    padding: 0 0.1rem;
    margin: 0 0.5rem;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 0.2rem 0.5rem;
}

.pagination-container .pagination-content .page-number:hover{
    color: var(--input-focus);
}

.pagination-container .pagination-content .page-number.active{
    background-color: var(--input-focus);
    color: black;
}