VITE_TRADING_API_HOST=trade.manticore.exchange
VITE_TRADING_API_PORT=443
VITE_TRADING_API_PROTO=https

VITE_FAUCET_API_HOST=faucet.manticore.exchange
VITE_FAUCET_API_PORT=443
VITE_FAUCET_API_PROTO=https

VITE_EXPLORER_API_HOST=api.manticore.exchange
VITE_EXPLORER_API_PORT=443
VITE_EXPLORER_API_PROTO=https

VITE_TRADING_WS_HOST=ws.manticore.exchange
VITE_TRADING_WS_PORT=443

VITE_PUBLIC_ONCHAINKIT_API_KEY=