:root{
    --card-gradient-size: 1000%;
}
.result-card {
    margin-top: 1rem;
    height: 20rem;
    width: 20rem;
    border-radius: 15px;
    position: relative;
    /* Center the content */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* Added glow effect to the gradient */
    background: linear-gradient(45deg, #0088ff,#FF0000);
    background-size: var(--card-gradient-size) auto; /* Adjusted size for smooth animation */
    box-shadow: 0 0 10px #FF0000;
    background-position: 1000% 0%; /* Set default position */
    transition: box-shadow 0.3s, transform 0.3s; /* Smooth transition for glow and scale */
    /* Aminate the size of the card */  
    animation: animateBackground 10s linear infinite paused; /* Animation is now infinite */

}



.result-card:hover {
    transform: scale(1.05);
    /* Enhanced glow effect on hover */
    box-shadow: 0 0 20px #FF0000;
    animation-play-state: running; /* Resume animation on hover */
}


.result-card .loading-spinner-container {
    height: 100%;
    /* Center the spinner */
    position: absolute;
    z-index: 100;
    
}

.result-card .result-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px 10px;
    margin: 1%;
    max-height: 20%;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.result-card .result-card-image {
    height: 98%;
    width: 98%;
    border-radius: 15px;
    object-fit: contain;
    /* Center the image */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
 
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
    mask-repeat: no-repeat;
    mask-position: center;
}

@media (max-width: 368px) {
    .result-card {
        height: 15rem;
        width: 15rem;
    }
    .result-card .result-overlay{
        max-height: 15%;
        font-size: 0.8rem;
    }
}
@media (max-width: 268px) {
    .result-card {
        height: 10rem;
        width: 10rem;
    }
    .result-card .result-overlay{
        max-height: 10%;
        font-size: 0.5rem;
    }
}

