.infocard-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    justify-items: center;
    width: 100%;
    padding: 40px;
}

@media (min-width: 768px) {
    .infocard-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px) {
    .infocard-container {
        grid-template-columns: repeat(4, 1fr);
    }
}