.hero {
    position: relative;
    text-align: center;
    padding: 50px 20px;
    background: transparent;
    color: var(--text-color);
    flex-shrink: 0;
}

.hero-logo {
    position: absolute;
    width: 280px; /* Adjust size slightly smaller for subtle effect */
    height: auto;
    top: 75%; /* Adjust positioning for better separation from title */
    left: 50%;
    transform: translateX(-50%) scale(1); /* Subtle scale change */
    opacity: 0.1; /* Make the logo more subtle */
    z-index: -10; /* Place it behind the text */
}

.hero h1 {
    z-index: -5;
    position: relative;
    font-size: 3em;
    margin-top: 0px;
    color: var(--link-color); /* Use your primary color variable */
}

.hero p {
    position: relative;
    z-index: -3;
    font-size: 1.6em; /* Slightly increase size for better readability */
    margin-bottom: 30px;
}
