.asset-detail-container {
  position: relative;
  justify-content: center;
  align-items: flex-start;
  padding: 20px; /* Reduced padding for smaller screens */
  background: var(--background-primary); /* Assuming this is your preferred background color */
  flex-direction: row; /* Stack items vertically on smaller screens */
}

.asset-detail-card {
  position: relative;
  flex-direction: column; /* Stack image and text vertically on smaller screens */
  background: #000; /* Card background */
  color: #fff; /* Text color */
  border: 1px solid #e1e1e1; /* Card border */
  border-radius: 8px;/* Ensures that the content respects the border-radius */
  margin: auto; /* Centers the card in the container */
  width: 100%; /* Ensures that the card stretches to max-width */
}



.asset-image-container {
  position: relative;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  width: 100%; /* Full width for mobile */
  max-width: 300px; /* Maximum width of the image container */
  height: auto; /* Let the height adjust according to the image size */
  margin: 20px auto; /* Center the image on mobile and add margin around it */
  flex-shrink: 0; /* Prevent the container from shrinking */
}

.asset-detail-image {
  max-width: 100%; /* Ensures the image is not larger than the container */
  height: auto; /* Keep aspect ratio */
  border-radius: 10px;
}

.asset-info-container {
  position: relative;
  /*center text*/
  text-align: center;
}

.asset-title {
  font-size: 2em;* Spans across all columns */
}

.asset-meta {
  display: flex; /* Use flexbox to arrange items inline */
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  width: 100%; /* Ensures asset meta spans the full width of the asset detail container */
}

.asset-meta p {
  color: #fff; /* Make the labels text white */
  padding: 5px 10px; /* Spacing between paragraphs */
  margin: 5px 0; /* Spacing between paragraphs */
  flex: 1 1 50%; /* Each item takes up 50% of the width, adjust as needed */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.asset-description {
  font-size: 0.9em;
  line-height: 1.6;
}

/* If you have long hashes that still don't fit, you can add this */
.asset-meta .block-hash {
  word-break: break-all; /* Breaks the word to prevent overflow */
}

.asset-meta .copyable {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  background-color: #333;
  padding: 2px 5px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.asset-meta .copyable:hover {
  background-color: #555;
}

.asset-meta .copy-icon {
  margin-left: 5px;
  font-size: 0.8em;
  color: #fff;
}


.back-button-container button{
  padding: 5px 10px;
  position: absolute;
  background-color: transparent;
  z-index: 100;
  transition: transform 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}


.back-button-container button:hover {
  background-color: transparent;
  transform: scale(1.05);
  color: var(--button-background);
}
