.pagination-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.total-items {
  margin-bottom: 10px; /* Space between total items and pagination on larger screens */
  color: #ffffff;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap; /* Prevent wrapping */
  overflow-x: auto; /* Allow horizontal scrolling */
}

.pagination button {
  background-color: #fff; /* White background */
  color: #333; /* Dark text color for contrast */
  border: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0 2px; /* Reduced space between buttons */
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  white-space: nowrap; /* Prevent text wrapping */
}

.pagination button:hover {
  background-color: #e63946; /* Light grey for hover state */
  color: #ffffff;
}

.pagination button:disabled {
  background-color: #e63946;
  color: #ffffff;
  cursor: not-allowed;
}

.pagination span {
  color: #ffffff; /* Ensure ellipses are visible */
  padding: 5px 10px; /* Adjusted padding */
  white-space: nowrap; /* Prevent text wrapping */
}

/* Add styles for active page button if needed */
.pagination button.active {
  background-color: #007bff; /* Example active color */
  color: #ffffff;
}

@media (max-width: 768px) {
  .pagination-container {
    align-items: flex-start; /* Align pagination to the start on smaller screens */
  }

  .total-items {
    margin-bottom: 5px; /* Adjust space between total items and pagination */
  }

  .pagination {
    overflow-x: auto; /* Allow horizontal scrolling on smaller screens */
  }

  .pagination button {
    margin: 0 2px; /* Reduced space between buttons */
    padding: 5px 10px; /* Adjust padding for smaller screens */
  }

  .pagination span {
    padding: 5px 10px; /* Adjust padding for smaller screens */
  }
}
