.infocard-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    justify-items: center;
    width: 100%;
    padding: 40px;
}

@media (min-width: 768px) {
    .infocard-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px) {
    .infocard-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

.icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 50px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: transparent;
    color: var(--text-color);
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    max-width: 250px;
    flex: 1 1 200px;
    box-sizing: border-box;
}

.icon-item:hover {
    transform: scale(1.08);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
}

.icon-item h3 {
    margin-top: 10px;
    font-size: 1.6em;
    color: var(--link-color);
}

.icon-item p {
    margin-top: 10px;
    font-size: 1em;
    color: var(--text-color);
}

.icon-item span {
    margin-top: 15px;
    color: var(--info-card-action-button-color);
}

.icon-item:hover span {
    color: var(--link-hover-color);
}