.trading-page {
    position: relative;
    padding: 20px;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1E1E1E;
}

.trading-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 40px;
    background-color: #222;
    padding: 10px 20px;
    border-radius: 8px;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    width: 100%;
}

.search-bar input {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border-radius: 25px;
    border: 1px solid #444;
    background-color: #2E2E2E;
    color: #fff;
}

.search-bar button {
    background-color: #3498db;
    padding: 10px 15px;
    border-radius: 50%;
    margin-left: 10px;
    border: none;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #2980b9;
}

/* Quantity Popup */
.quantity-popup {
    width: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    z-index: 1001;
    animation: zoomOut 0.4s ease-out;
}

.quantity-popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.quantity-popup input {
    width: 100px;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 1em;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.quantity-popup button {
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    background-color: #4AFA9A;
    color: white;
    cursor: pointer;
}

.quantity-popup button:first-of-type {
    margin-right: 10px;
}

.quantity-popup button:hover {
    background-color: #3AFA89;
}

/* Cart visibility animation */
.cart-visible {
    transition: transform 0.3s ease-in-out;
    transform: translateX(0);
}

.cart-hidden {
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
}

/* Responsive Design */
@media (max-width: 768px) {
    .search-bar input {
        width: 90%;
    }
    .trading-header {
        flex-direction: column;
        align-items: flex-start;
    }
}
