.trading-page {
    position: relative;
    padding: 20px;
    overflow-y: auto;
}


.trading-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.list-icon-container {
    position: relative;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    
}

.list-icon-container:hover {
    transform: scale(1.1);
}


.list-icon {
    font-size: 28px;
    color: #ffffff;
    transition: transform 0.3s ease-in-out;
}


@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

/* Keyframes for zoom out animation */
@keyframes zoomOut {
    0% {
        transform: scale(0.2);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}


.checkout-button, .clear-cart-button {
    background-color: #f44336;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.checkout-button:hover, .clear-cart-button:hover {
    background-color: #d32f2f;
    transform: scale(1.05);
}

.checkout-button:active, .clear-cart-button:active {
    transform: scale(0.98);
}

.quantity-popup {
    width: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    z-index: 1001;
    max-height: 90vh;
    overflow-y: auto;
}

.quantity-popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.quantity-popup h3 {
    margin-bottom: 10px;
}

.quantity-popup input {
    width: 100px;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 1em;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.quantity-popup button {
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    background-color: #dc3545;
    color: white;
    cursor: pointer;
}

.quantity-popup button:first-of-type {
    margin-right: 10px;
}

.quantity-popup button:hover {
    background-color: #c82333;
}