.trade-log {
    min-width: 200px;
    overflow-y: auto;
    background-color: #1e1e1e;
    border-radius: 8px;
    height: 550px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.trade-log h3 {
    color: #ffffff;
    margin-bottom: 0;
}

.trade-log ul {
    list-style-type: none;
    padding: 0;
}

.trade-log li {
    padding: 0;
    border-bottom: 1px solid #333;
    display: flex;
    justify-content: space-between;
    color: #cccccc;
}

.trade-log li:nth-child(even) {
    background-color: #2a2a2a;
}