.ping-indicator {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 14px;
    color: #fff;
    margin-left: 10px;
}

.ping-indicator .status-icon {
    margin-right: 5px;
}

.ping-indicator .signal-strength {
    display: flex;
    align-items: flex-end;
    margin-left: 5px;
}

.ping-indicator .signal-strength .bar {
    width: 2px;
    margin-right: 2px;
    background-color: #ccc;
    transition: background-color 0.3s ease, height 0.3s ease;
}

.ping-indicator .signal-strength .bar.active {
    background-color: #4caf50;
}

.ping-indicator .ping-time {
    margin-left: 5px;
    font-size: 12px;
    color: var(--text-color);
}

@media (max-width: 768px) {
    .ping-indicator .signal-strength .bar {
        width: 1px; /* Reduce bar width for mobile */
    }
    .ping-indicator .ping-time {
        font-size: 10px; /* Reduce font size for mobile */
    }
}