.explorer-container{
    display: flex;
    flex-direction: column;
    height: 100%;
}
/*.explorer-container{
    text-align: center;
    min-height: 85vh;
}
.explorer-container .spinner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.no-results {
    text-align: center;
    color: var(--search-bar-color);
    font-size: 18px;
    margin: 20px;
}
.results-container {
    margin-top: 1rem;
}

@media (max-width: 768px) {
    .no-results {
        text-align: center;
        color: #666;
        font-size: 18px;
        margin: 150px 0px 50px;
    }
    .results-container {
        margin-top: 6rem;
    }
}
*/