.footer {
  flex-grow: 1;
  width: 100%;
  text-align: center;
  background-color: transparent; /* Make sure the footer uses the same background */
  padding: 2px 0; /* Further reduce padding to fit content within smaller height */
  margin-top: auto; /* Pushes footer to the bottom */
  height: 30px; /* Reduce height for a smaller footer */
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
}
.footer .ping-indicator {
  position: absolute;
  right: 30px;
  top: 25%;
  height: 50%;
}
.footer p {
  margin: 0;
  padding: 0; 
  font-size: 12px; /* Reduce font size for less prominent text */
  color: var(--text-color); /* Use your CSS variable for text color */
}

.footer a {
  color: #ff000c; /* Red color to match your links */
  text-decoration: none; /* No underline */
  padding: 0 3px; /* Further reduce space between text buttons */
  font-size: 10px; /* Smaller font size to fit within the footer */
  transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.footer a:hover {
  color: var(--color); /* White color on hover for contrast */
}