/* Footer.css handles the styling of the footer 

   
*/

/* Footer styling */
.footer{

  /* Set the position to relative so all children 
     can be positioned relative to this container
  */
  position: relative;
  
  /* Display the footer as a flex container */
  display: inline-flex;


  /* Set the background color */
  background-color: var(--footer-bg-color);
  
  /* Set the min height and max height to +-10% */
  min-height: calc(var(--footer-height, 15px) * 0.9);
  max-height: calc(var(--footer-height, 15px) * 1.1);

  height: var(--footer-height, 15px); 
  
  /* Font size based on height */
  font-size: calc(var(--footer-height, 15px) * 0.5); 
}

.footer p {

  /* Set the position to absolute */
  position: absolute;

  /* Center the text horizontally */
  left: 50%;
  transform: translateX(-50%);

  margin-top: 2px;

}

.footer a {

  /* Set the color */
  color: #ff000c;

  /* Remove the underline */
  text-decoration: none;

  /* Add padding */
  padding: 0 3px;

  /* Add transition */
  transition: color 0.3s ease;
}

.footer a:hover {
  color: var(--color);
}
