.footer {
  flex-grow: 1;
  width: 100%;
  text-align: center;
  background-color: transparent; /* Make sure the footer uses the same background */
  padding: 10px; /* Adjust padding for content */
  position: fixed; /* Position footer at the bottom */
  bottom: 0;
  height: 30px; /* Adjust height for a smaller footer */
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  z-index: 100;
  grid-column: 1 / -1; /* Ensure footer spans the entire width */
  color: var(--text-color); /* Set text color */
}

.footer .ping-indicator {
  position: absolute;
  right: 30px;
  top: 25%;
  height: 50%;
}
.footer p {
  margin: 0;
  padding: 0; 
  font-size: 12px; /* Reduce font size for less prominent text */
  color: var(--text-color); /* Use your CSS variable for text color */
}

.footer a {
  color: #ff000c; /* Red color to match your links */
  text-decoration: none; /* No underline */
  padding: 0 3px; /* Further reduce space between text buttons */
  font-size: 10px; /* Smaller font size to fit within the footer */
  transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.footer a:hover {
  color: var(--color); /* White color on hover for contrast */
}

@media (max-width: 768px) {
  .footer p {
    font-size: 10px; /* Further reduce font size for mobile */
  }
  .footer .ping-indicator {
    right: 10px; /* Adjust the right position */
    top: 25%; /* Adjust the top position */
  }
}