.market {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px;
  background-color: transparent;
  color: #ffffff;
}

.market-chart {
  width: 70%;
  height: 500px;
  background-color: transparent;
  border: 1px solid #444;
}

.orderbook {
  width: 30%;
  margin-left: 20px;
}

.market-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #444;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #2b2b2b;
}

.market-details h2 {
  margin-bottom: 10px;
  color: #ffffff;
}

.market-details p {
  margin-bottom: 20px;
  color: #cccccc;
}

