.market {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.market-chart-container {
  background-color: lightblue;
  padding: 0px;
  border-radius: 8px;
}

.market-chart-container::before {
  display: block;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.order-book-container {
  background-color: lightgreen;
  padding: 20px;
  border-radius: 8px;
}

.order-book-container::before {
  content: "Order Book";
  display: block;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.backButton {
  background-color: lightcoral;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-bottom: 20px;
}

.backButton:hover {
  background-color: coral;
}
