.result-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.result-popup {
    background: var(--background-color);
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    position: relative;
    box-shadow: var(--box-shadow);
    background-size: cover; /* Add this line */
    background-position: center; /* Add this line */
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.popup-image {
    display: none; /* Hide the popup-image div as it's no longer needed */
}

.popup-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.8); /* Black background for the entire content */
    color: white; /* White text for contrast */
}

.popup-description {
    padding: 10px;
    border-radius: 10px;
    max-height: 150px; /* Set a maximum height */
    overflow-y: auto; /* Enable vertical scrolling */
    margin-bottom: 10px; /* Space between description and other content */
}

.popup-details {
    padding: 10px;
    border-radius: 10px;
}

.popup-action-buttons button {
    margin-right: 10px;
    padding: 10px 15px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .result-popup {
        width: 90%;
        
    }

}