.pagination-container{
    display: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: none;
}

.pagination-container.is-searching{
    display: none;
}

.pagination-container.is-loaded:not(.no-results){
    display: flex;
    padding: 10px 0;
    background: none;
}

.pagination-container.no-results{
    display: none;
}

.pagination-container .pagination-content{
    padding: 0;
    background: none;
    display: flex;
    align-items: center;
}

.pagination-container .arrow-button{
    background-color: transparent;
    border: none;
    color: var(--text-primary);
    transition: color 0.3s ease;
}

.pagination-container .arrow-button:disabled{
    color: var(--input-disabled);
    padding: 0 0.1rem;
}

.pagination-container .arrow-button:not(:disabled){
    color: var(--input-focus);
    padding: 0 0.1rem;
}

.pagination-container .pagination-content .page-number{
    color: var(--text-primary);
    padding: 0 0.1rem;
    margin: 0 0.5rem;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
}

.pagination-container .pagination-content .page-number:hover{
    color: var(--input-focus);
    transform: translateY(-1px);
}

.pagination-container .pagination-content .page-number.active{
    background-color: var(--input-focus);
    color: var(--text-inverse);
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px);
}