:root {
    /* Light mode */
    --border-color: black;
}

[data-theme='dark'] {
    --border-color: white;
}

.app {
    display: flex;
    flex-direction: column;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.main {
    min-height: 84vh;
    max-width: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    border: 2px solid var(--border-color); /* Use CSS variable instead of hardcoded white */
    border-radius: 15px; /* Add rounded corners */
    margin: 20px; /* Add some spacing around the border */
}

/* Button Styles */
button.custom-button {
    /* Base button styles */
    border: 1px solid red;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1.8vh;
    font-weight: 1000;
    color: var(--button-text-color);
    background-color: transparent;
    text-shadow: 1px 1px 2px var(--text-shadow-color); /* Add text shadow */
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
    box-shadow: 0 4px 15px var(--button-shadow-color); /* Subtle shadow effect */
}

button.custom-button:hover {
    /* Hover effects */
    transform: scale(1.1); /* More noticeable scale */
    border: 2px solid var(--button-border-color); /* Solid border on hover */
    background-color: var(--button-hover-background-color); /* Darker red */
    box-shadow: 0 6px 20px var(--button-shadow-color), 0 0 10px var(--button-border-color); /* Stronger shadow and glow effect */
}

button.custom-button:active {
    /* When button is clicked */
    transform: scale(1.05); /* Slightly smaller on click */
    box-shadow: 0 2px 8px var(--button-shadow-color); /* Less shadow on click */
}

/* Input Styles */
input.custom-input {
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    outline: none;
    color: var(--search-bar-color); /* White text for contrast */
    background-color: transparent; /* No background */
    border-bottom: var(--search-bar-underline); /* Red underline to match the site's accent color */
    font-size: 18px;
    transition: font-size 0.3s ease, border-color 0.3s ease; 
}

input.custom-input:focus {
    border-bottom: var(--search-bar-underline-focus); /* Change underline to white on focus */
}

input.custom-input::placeholder {
    color: var(--search-bar-color); /* Lighter placeholder text */
}

/* Select Styles */
select.custom-select {
    border: none;
    background-color: transparent;
    color: var(--text-color);
    border-bottom: var(--search-bar-underline); /* Change underline to white on focus */
}

select.custom-select:focus {
    outline: none;
    border-bottom: var(--search-bar-underline-focus);
}

option.custom-option {
    background-color: var(--search-filters-bg-color);
    color: var(--text-color);
}

@media (max-width: 768px) {
    .main {
        padding-top: 80px; /* Add padding to the top to avoid overlap with the navbar */
    }
}