:root {
    --background-color: black;
    --text-color: white;
    --navbar-bg-color: transparent;
    --navbar-text-color: white;
    --button-background-color: red;
    --button-text-color: rgb(255, 255, 255);
    --search-bar-color: white;
    --search-bar-bg-color: transparent;
    --search-filters-color: white;
    --search-filters-bg-color: black;
    --search-bar-underline: 2px solid #ff0000;
    --pagination-background: black;
    --pagination-color: white;
    --blog-outline: 1px solid rgb(255, 255, 255);
    --link-color: red; /* Gold color for links in dark mode */
    --link-hover-color: white; /* Lighter gold color on hover in dark mode */
    --box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
    --modal-border: 2px solid white;
    --nth-child-color: rgb(50,50,50);
    --spinner-color: gray;
    --card-border: 1px solid white;
    --card-shadow: 0 4px 10px rgba(255, 255, 255, 0.1); /* Added card shadow variable */
    --search-bar-underline-focus: 2px solid #fff;
    --glow-color: #ff0000; /* Added glow color variable */
    --glow-outline: rgba(25, 25, 25, 0.2);
}

[data-theme="light"] {
    --background-color: #ffffff; /* White background for better contrast */
    --text-color: #000000; /* Black text for better contrast */
    --navbar-background-color: transparent;
    --navbar-text-color: black;
    --button-background-color: red;
    --button-text-color: rgb(0, 0, 0);
    --navbar-bg-color: transparent;
    --navbar-text-color: black;
    --search-bar-color: black;
    --search-bar-bg-color: transparent;
    --search-filters-color: black;
    --search-filters-bg-color: transparent;
    --search-bar-underline: 2px solid #ff0000;
    --pagination-background: white;
    --pagination-color: black;
    --blog-outline: 1px solid rgb(0, 0, 0);
    --link-color: red; /* Blue color for links in light mode */
    --link-hover-color: black; /* Darker blue on hover in light mode */
    --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    --spinner-color: gray;
    --card-border: 1px solid black;
    --card-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Added card shadow variable */
    --search-bar-underline-focus: 2px solid black;
    --glow-color: #ff0000; /* Added glow color variable */
    --glow-outline: rgba(25, 25, 25, 0.2);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Montserrat', system-ui, Avenir, Helvetica, Arial, sans-serif;
    margin: 0;
    transition: background-color 0.3s ease, color 0.3s ease; /* Added smooth transition */
}


