.walletContainer {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: var(--background-color);
    border-radius: 8px;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 80vh;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.walletHeader {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--text-color);
    text-align: center;
}

.portfolioValue, .dailyChange {
    font-size: 16px;
    color: var(--link-color);
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.dailyChange span {
    color: #00ff00;
}

.tableContainer {
    margin-top: 20px;
    border: 1px solid #333333;
    border-radius: 4px;
    overflow: hidden;
}

.table {
    width: 100%;
    border-collapse: collapse;
    background-color: #2a2a2a;
}

.table th, .table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #444444;
    color: var(--text-color);
}

.table th {
    font-weight: bold;
    color: var(--link-color);
}

.buttonContainer {
    display: flex;
    gap: 10px;
}

.depositButton, .withdrawButton, .tradeButton {
    padding: 10px 20px;
    font-size: 14px;
    line-height: 1;
    cursor: pointer;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    border: none;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.depositButton:hover, .withdrawButton:hover, .tradeButton:hover {
    background-color: var(--button-hover-background-color);
}

/* Add a container style for the pie chart */
.pieChartContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

